{%load static%}
<html>
    <head>
        <title>Parent page</title>
        <link src="{%static 'css/style.css'%}">
    </head>
    <body>
        <table width="100%" height="100%">
            <tr>
                <td colspan="7">
                    <img src="{%static 'imgs/img.jpg'%}">
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <h1>Links</h1>
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <h1>content</h1>
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <h1>footer</h1>
                </td>
            </tr>


        </table>

    </body>

</html>