{%load static%}
<html>
    <head>
        <title>
            {%block title%}
                Parent pag
            {%endblock%}
        </title>
        <link rel="stylesheet" href="{%static 'css/style.css'%}" >
    </head>
    <body>
        <table width="100%" height="100%">
            <tr>
                <td colspan="7">
                    <img src="{%static 'imgs/img.jpg'%}">
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <a href="{%url 'padd'%}">New Product</a> <a href="{%url 'plist'%}">Products</a>
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <h1>
                        {%block content%}
                            content
                        {%endblock%}
                    </h1>
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    <h1>footer</h1>
                </td>
            </tr>


        </table>
        <script>
            {%block js%}
                alert('hi ');
            {%endblock%}
        </script>
    </body>

</html>